<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Agent App</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/addClient">Ajouter Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listClients">Liste des Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-balance">Ajouter balance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/info-transaction">Informations de la transaction</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
  