<!-- home.component.html -->
<div class="container mt-4 text-center">
    <h2 class="description mt-3">Bienvenue dans votre application</h2>
    <img src="../../assets/bienvenue.png" alt="Image d'accueil" class="img-fluid mx-auto d-block rounded grayscale" style="max-width: 100%; height: auto;" />
    <p class="description mt-3 text-black">
        Explorez un moyen sécurisé de réaliser vos transferts financiers ici avec nous !
    </p>
    <button routerLink="/addClient" class="btn btn-animated btn-dark mt-3">Ajouter un client</button>
  </div>
  